*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(eduford_img/banner.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
.nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    position: absolute;
    top: 0;
    left: 0 ;   
}
.nav-links ul{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: 0;
}
.nav-links ul li{
    margin: 0 15px;
    padding: 20px 5px;
    list-style: none;
}
.nav-links ul a{
    text-decoration: none;
    color: white;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}